# Lockfile Settings
use-lockfile-v6 = true

# Peer Dependency Settings
auto-install-peers = true
dedupe-peer-dependents = true
resolve-peers-from-workspace-root = true

# Workspace Settings
save-workspace-protocol = 'rolling'

# Other Settings
resolution-mode = 'lowest-direct'
