.DS_Store
node_modules
/build
!/.svelte-kit/
/.svelte-kit/*
!/.svelte-kit/tsconfig.json
!/.svelte-kit/types/
/.svelte-kit/types/*
/.svelte-kit/types/**/*
!/.svelte-kit/types/**/
!/.svelte-kit/types/**/*.d.ts
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
