---
name: CI
'on':
  pull_request:
    branches: [main]
  push:
    branches: [main, 'renovate/**']
  workflow_dispatch:

env:
  FORCE_COLOR: true
  NODE_VERSION: 20.20.0 # renovate: datasource=node depName=node

jobs:
  build-nodejs:
    name: Build Node.js
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Enable Corepack
        run: corepack enable

      - name: Use Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          cache: pnpm
          node-version-file: '.node-version'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --strict-peer-dependencies

      - name: Check formatting
        run: pnpm check-format

      - name: Build
        run: pnpm build

  build-python:
    name: Build Python
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Install Poetry
        run: pipx install poetry

      - name: Setup Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          cache: poetry
          python-version-file: 'pyproject.toml'

      - name: Install dependencies
        run: poetry install
